@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
:root {
  --LibertyMeets-Purple-100: #efeff4;
  --LibertyMeets-Purple-500: #921a64;
  --LibertyMeets-Purple-500A: #6f2cff;
  --LibertyMeets-Purple-900: #471b51;
  --LibertyMeets-UtilityBlack: #333333;
  --LibertyMeets-UtilityGrey: #8f8f8f;
  --LibertyMeets-Background: #f9fafb;
  --LibertyMeets-Warning_Accent: #ff8b00;
}

@font-face {
  font-family: "ButlerBold";
  font-style: normal;
  font-weight: 700;
  src: url("../public/fonts/Butler-Bold700.woff2") format("woff2");
}

@font-face {
  font-family: "ButlerMedium";
  font-style: normal;
  font-weight: 600;
  src: url("../public/fonts/Butler-Medium600.woff2") format("woff2");
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  src: url("../public/fonts/Nunito-SemiBold600.ttf") format("truetype");
}

@font-face {
  font-family: "InterBold800";
  font-style: normal;
  font-weight: 700;
  src: url("../public/fonts/Inter-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: "InterBold700";
  font-style: normal;
  font-weight: 700;
  src: url("../public/fonts/Inter-Bold700.woff2") format("woff2");
}

@font-face {
  font-family: "InterMedium";
  font-style: normal;
  font-weight: 500;
  src: url("../public/fonts/Inter-Medium500.woff2") format("woff2");
}

@font-face {
  font-family: "InterRegular";
  font-style: normal;
  font-weight: 400;
  src: url("../public/fonts/Inter-Regular400.woff2") format("woff2");
}
@font-face {
  font-family: "InterSemiBold";
  font-style: normal;
  font-weight: 600;
  src: url("../public/fonts/Inter-SemiBold600.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
}

.wrapper {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
  min-height: calc(100vh - 188px);
}

header {
  flex-grow: 0;
}

footer {
  margin-top: auto;
  flex-grow: 0;
}

.postsPageContainer {
  background: #f9fafb;
  display: flex;
  padding-top: 130px;
  flex-direction: column;
  gap: 30px;

  @media (max-width: 800px) {
    padding-top: 30px;
  }
}

.containerPosts {
  display: flex;
  flex-direction: column;
  padding: 100px 0;
  gap: 40px;
  padding: 30px 10px;

  @media (max-width: 500px) {
    padding: 0;
  }
}

.wrapPosts {
  display: flex;
  justify-content: center;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 15px;

  @media (max-width: 500px) {
    gap: 5px;
  }
}

.pagination div button {
  background-color: #ffffff !important;
  border-radius: 50% !important;
  border: 1px solid #c8cbcf;
  box-shadow: 0px 1px 2px #1f293714 !important;
  width: 32px !important;
  min-height: 32px !important;
}

.pagination li a {
  color: unset !important;
}

.pagination li div a {
  color: #000 !important;
}

.pagination li {
  color: #ffffff;
  border: none !important;
  background-color: unset !important;
}

.event {
  width: 100%;
  text-decoration: none;
}

.pagination li span button {
  background-color: revert !important;
  border-radius: 50% !important;
}
